PUBLIC_SITE_URL=https://gestion-en-calma.vercel.app

PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
SANITY_API_READ_TOKEN=

RESEND_API_KEY=
CONTACT_FORM_TO_EMAIL=
CONTACT_FORM_FROM_EMAIL=
